[package]
name = "server"
version = "0.1.0"
edition = "2024"

[dependencies]
game-networking-sockets = { git = "https://github.com/hussein-aitlahcen/gns-rs.git", rev = "c6bd44b" }
shared = { version = "0.1.0", path = "../shared" }
